------------------------------------------------------------  Header  -----------------------------------------------------------------------------------------
.header__container {
    height: 75px; 
}

/* Resize Logo for mobile */
.header__logo-img {
    height: 35px;
}

/* Show Hamburger Menu */
.header__menu-btn {
    display: flex;
}

/* Convert Desktop Nav into Mobile Dropdown */
.header__nav {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: var(--bg-color);
    border-top: 1px solid rgba(15, 42, 68, 0.05);
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.08);
        visibility: hidden;
    opacity: 0;
}

.header__nav-list {
    flex-direction: column;
    gap: 0;
    padding: 1rem 0;
}

.header__nav-link {
    display: block;
    padding: 1.2rem 5%;
    font-size: 1.1rem;
    border-bottom: 1px solid rgba(15, 42, 68, 0.03);
}

/* Remove desktop hover line */
.header__nav-link::after {
    display: none; 
}

.header__nav-link:active {
    color: var(--accent-color);
    background-color: rgba(245, 158, 11, 0.05);
}